<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="vi-VN" dir="LTR"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Home - Manage</title>
    <link rel="stylesheet" href="../staff/css/css.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    &#45;&#45;&#45;&#45; angular -->
    <script src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        td{
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            max-width: 150px;
        }
        /*////// anh sản phẩm*/
        #previewContainer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            max-height: 300px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
        }
        .image-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            overflow: hidden;
            border-radius: 5px;
        }
        .image-wrapper img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .delete-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(255, 0, 0, 0.8);
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .qr-block{
            width: 0;
            height: 0;
            overflow: hidden;
        }
        .qr-block.show{
            width: auto;
            height: auto;
            overflow: inherit;
        }
        .modal-payment{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 100;
            visibility: hidden;
            opacity: 0;
        }
        .modal-payment.show{
            visibility: visible;
            opacity: 1;
        }
    </style>
    <link rel="stylesheet" href="../staff/css/group.css">
</head>

<body class="sb-nav-fixed" ng-app="admin-app">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark"
     th:include="staff/layout/_nav :: body"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:include="staff/layout/_menu :: body"></div>
    <div id="layoutSidenav_content">
        <main style="background-color:gainsboro; padding: 20px 20px;">
            <div ng-view style="background-color:white; "></div>
        </main>
        <footer class="py-4 bg-light mt-auto"
                th:include="staff/layout/_footer :: body">
        </footer>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="../staff/js/js.js"></script>
<script src="../staff/js/admin-app.js"></script>
<script src="../staff/js/banhang-ctrl.js"></script>
<script src="../staff/js/thuonghieu-ctrl.js"></script>
<script src="../staff/js/danhmuc-ctrl.js"></script>
<script src="../staff/js/size-ctrl.js"></script>
<script src="../staff/js/chatlieu-ctrl.js"></script>
<script src="../staff/js/mausac-ctrl.js"></script>
<script src="../staff/js/sanpham-ctrl.js"></script>
<script src="../staff/js/spct-ctrl.js"></script>
<script src="../staff/js/hoadon-ctrl.js"></script>
<script src="../staff/js/hdct-ctrl.js"></script>
<script src="../staff/js/khuyenmai-ctrl.js"></script>
<script src="../staff/js/blog-ctrl.js"></script>
<script src="../staff/js/quanlyspct-ctrl.js"></script>
<script src="../staff/js/taikhoan-ctrl.js"></script>
<script src="../staff/js/group-ctrl.js"></script>
<script src="../staff/js/test-ctrl.js"></script>
<script src="../staff/js/doitrahang-ctrl.js"></script>
<script src="../staff/js/doitrachitiet-ctrl.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

</script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="module">
    // Import các hàm cần thiết từ SDK
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
    import { getDatabase, ref, onValue, remove, update } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-database.js";

    // Cấu hình Firebase
    const firebaseConfig = {
        apiKey: "AIzaSyANR8qTVpHAtEFuX_r6IfQpRUrG5dDj7B8",
        authDomain: "datn-b37cf.firebaseapp.com",
        databaseURL: "https://datn-b37cf-default-rtdb.firebaseio.com",
        projectId: "datn-b37cf",
        storageBucket: "datn-b37cf.firebasestorage.app",
        messagingSenderId: "400761989681",
        appId: "1:400761989681:web:be0412e159f3c923b94310",
        measurementId: "G-D9XQ6JY5L1"
    };

    let isUpdatingDatabase = false;
    // Khởi tạo Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);

    // Tham chiếu tới nhánh `qrResults`
    const qrResultsRef = ref(database, 'qrResults');
    // function formatTimestamp(timestamp) {
    //     const date = new Date(timestamp);
    //     return date.toLocaleString(); // Định dạng theo múi giờ hệ thống của người dùng
    // }
    function formatCurrency(amount) {
        const formatter = new Intl.NumberFormat('vi-VN');
        return formatter.format(amount);
    }

     let results = {}

    // Lắng nghe dữ liệu từ `qrResults`
    document.addEventListener("DOMContentLoaded", () => {
        onValue(qrResultsRef, (snapshot) => {
            const rawResults = snapshot.val() || {};
            results = {}; // Khởi tạo lại kết quả nhóm
            const displayResultElement = document.getElementById('display-result');
            // Kiểm tra nếu có kết quả nào không

            Object.values(rawResults).forEach((result) => {
                const id_hd = result.id_hd;

                // Tạo mảng cho mỗi `id_hd` nếu chưa có
                if (!results[id_hd]) {
                    results[id_hd] = [];
                }

                fetch(`/spct/${result.result}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Lỗi khi gọi API');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const isDuplicate = results[id_hd].some(item => item.result === result.result);
                        if (!isDuplicate ) {
                            const resultWithData = {
                                ...result,
                                apiData: data // Thêm dữ liệu từ API vào kết quả
                            };

                            // Thêm `resultWithData` vào `results[id_hd]`
                            results[id_hd].push(resultWithData);

                            if (!isUpdatingDatabase) {
                                // Cập nhật giao diện với kết quả mới
                                displayResults();
                            }

                        }
                    })
                    .catch(error => {
                        console.error("Lỗi khi gửi yêu cầu tới API:", error);
                    });

                // Kiểm tra xem `result.result` đã tồn tại trong `results[id_hd]`

            });
        });

        function displayResults() {
            // Xóa nội dung cũ trong các div có class tương ứng
            document.querySelectorAll('[class^="display-result-"]').forEach(element => {
                element.innerHTML = '';
            });

            // Duyệt qua từng nhóm `id_hd`
            Object.keys(results).forEach((id_hd) => {
                const groupContainer = document.querySelector(`.display-result-${id_hd}`);
                const eleBill = document.querySelector(`.price-bill-${id_hd}`);

                let invoiceTotal = 0;
                // Kiểm tra nếu có container tương ứng với id_hd
                if (groupContainer) {
                    results[id_hd].forEach((item, index) => {
                        // console.log(result)

                        invoiceTotal += item.apiData.data.gia;
                        // const resultText = `ID hóa đơn: ${result.id_hd} - Kết quả: ${result.apiData.data.sanPham.ten} - Thời gian: ${formatTimestamp(result.timestamp)}`;
                        let resultElement = document.createElement("tr")
                        resultElement.className=`sp-${index}-${id_hd}`
                        resultElement.innerHTML = `
                        <th class="" scope="row">${index + 1}</th>
                        <td><img width="50" src="../images/monnica.png" alt=""></td>
                        <td>
                            <div class="name-prod">${item.apiData.data.sanPham.ten || 'Tên sản phẩm'}</div>
                            <div class="text-muted">
                                <span class="size-prod">Size: ${item.apiData.data.size.ten || 'Không có size'}</span>
                            </div>
                        </td>
                        <td>
                          <input class="form-control quantity-input" type="number" min="1" value="1" max="${item.apiData.data.soLuong}" data-idsp="${item.result}" data-bill="${id_hd}" data-price="${item.apiData.data.gia}" data-id="${id_hd}" data-index="${index}">
                        </td>
                        <td class="text-end">
                            <span>${formatCurrency(item.apiData.data.gia) || 'Giá không có'}</span>
                        </td>
                        <td class="text-end">
                            <span class="price-display">${formatCurrency(item.apiData.data.gia) || 'Giá không có'}</span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger del-item-${id_hd}-${item.result}" data-quantity="1" data-price="${item.apiData.data.gia}" onclick="removeItemQR(${index}, '${id_hd}', ${item.result})">
                                <svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                    <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </td>
                    `;

                        groupContainer.appendChild(resultElement); // Thêm kết quả vào co
                        eleBill.textContent = `${formatCurrency(invoiceTotal)} vnđ`;
                        eleBill.setAttribute('data-origin', formatCurrency(invoiceTotal));
                        const quantityInput = resultElement.querySelector('.quantity-input');
                        quantityInput.addEventListener('input', updatePrice);
                    });
                }

                function updatePrice(event) {
                    const inputElement = event.target;
                    const quantity = parseInt(inputElement.value);
                    const price = parseFloat(inputElement.getAttribute('data-price'));
                    const productId = parseFloat(inputElement.getAttribute('data-idsp'));
                    const billID = parseFloat(inputElement.getAttribute('data-bill'));
                    const totalPrice = price * quantity;
                    const eleDelete = document.querySelector(`.del-item-${billID}-${productId}`);

                    const priceDisplay = inputElement.closest('tr').querySelector('.price-display');
                    priceDisplay.textContent = formatCurrency(totalPrice);
                    eleDelete.setAttribute('data-quantity', quantity);
                    let newInvoiceTotal = 0;
                    document.querySelectorAll(`.display-result-${id_hd} .quantity-input`).forEach(input => {
                        const itemPrice = parseFloat(input.getAttribute('data-price'));
                        const itemQuantity = parseInt(input.value);
                        newInvoiceTotal += itemPrice * itemQuantity;
                    });
                    eleBill.textContent = `${formatCurrency(newInvoiceTotal)} vnđ`;
                    eleBill.setAttribute('data-origin', formatCurrency(invoiceTotal));
                    // Optionally, you can update a total cart price here if needed
                    updateQuantityInDatabase(productId, billID ,quantity);
                };

                function updateQuantityInDatabase(resultId, bill, quantity) {
                    const resultRef = ref(database, `qrResults/${resultId}-${bill}`);
                    isUpdatingDatabase = true;
                    update(resultRef, { quantity: quantity })
                        .then(() => {
                            console.log(`Số lượng cho ${resultId} đã được cập nhật trong Firebase.`);
                            // Sau khi cập nhật Firebase, đặt lại biến cờ
                            isUpdatingDatabase = false;
                        })
                        .catch(error => {
                            console.error('Lỗi khi cập nhật số lượng trong Firebase:', error);
                            isUpdatingDatabase = false;
                        });
                }
            });

        }
    });

    document.addEventListener('DOMContentLoaded', () => {

        window.removeItemQR = function(index, id_hd, idsp) {
            // Xóa phần tử trong results
            if (confirm('Bạn có chắc chắn muốn xóa?')) {
                results[id_hd].splice(index, 1);
                const eleBill = document.querySelector(`.price-bill-${id_hd}`);
                const eleReturn = document.querySelector(`.return-money-${id_hd}`);
                const eleDelete = document.querySelector(`.del-item-${id_hd}-${idsp}`);
                const elementClass = `sp-${index}-${id_hd}`;
                const element = document.querySelector(`.${elementClass}`);
                const quantityProd = parseFloat(eleDelete.getAttribute('data-quantity'));
                const priceProd = parseFloat(eleDelete.getAttribute('data-price'));
                const billPrice = parseFloat(eleBill.textContent.replace(/[^0-9,]/g, ''));
                const inputElementMn = document.getElementById(`moneyCustomerInput-${id_hd}`);
                const moneyCustomer = inputElementMn.value;
                const billPriceNew = billPrice - quantityProd * priceProd;

                eleBill.textContent = formatCurrency(billPriceNew) + ' vnđ'
                eleReturn.textContent = formatCurrency(parseFloat(moneyCustomer) - billPriceNew) + ' vnđ'
                // Nếu phần tử tồn tại, xóa nó khỏi DOM
                if (element) {
                    element.remove();
                }
            }
        };
    })

    // Hàm để xóa dữ liệu trong nhánh `qrResults`
    function clearDatabase() {
        const qrResultsRef = ref(database, 'qrResults');
        remove(qrResultsRef)
            .then(() => {
                console.log("Dữ liệu đã được xóa khỏi Firebase.");
            })
            .catch((error) => {
                console.error("Lỗi khi xóa dữ liệu:", error);
            });
    }

    // Xóa dữ liệu ngay khi tải trang
    document.addEventListener("DOMContentLoaded", clearDatabase);
</script>
</body>
</html>