<div class="container-fluid px-4">
    <div class="d-grid gap-2 d-flex align-items-center justify-content-between mb-2">
        <h2 class="mt-4">Bán hàng tại quầy</h2>
        <button class="btn btn-primary me-md-2" ng-click="addBill()" id="createInvoiceBtn">Tạo hóa đơn</button>
    </div>

    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
        <li ng-repeat="(index, item) in bills" class="nav-item" role="presentation">
            <button class="nav-link" ng-class="{'active': index === activeIndex }" ng-click="setActiveTab(index)" data-bs-toggle="tab" data-bs-target="#bill{{ index }}" type="button">Hóa đơn {{ index + 1 }}</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div ng-repeat="(index, item) in bills" class="tab-pane fade" role="tabpanel"  ng-class="{'show active': index === activeIndex}" id="bill{{ index }}">
            <div class="card-body">
                <div class="d-grid gap-2 d-md-flex justify-content-between mb-2">
                    <h5 class="me-auto">Hóa đơn {{ index + 1 }}</h5>
                    <button class="btn btn-primary me-md-2" >Thêm sản phẩm</button>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col" class="text-end">Đơn giá (vnđ)</th>
                            <th scope="col" class="text-end">Tổng tiền (vnđ)</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody class="display-result-{{ index + 1 }}">

                        </tbody>
                    </table>
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <img ng-src="{{ item.qrCodeUrl }}" width="150" alt="QR Code for Bill">
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    Thông tin hóa đơn
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Số điện thoại</th>
                                            <td><input type="text" class="form-control form-control-sm" id="phoneInput"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Tên khách hàng</th>
                                            <td><input type="text" class="form-control form-control-sm" id="nameInput"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Mã giảm giá</th>
                                            <td>
                                                <div>
                                                    <select  ng-model="selectedVoucher" ng-change="onVoucherChange(selectedVoucher, index + 1)" class="form-select form-select-sm" >
                                                        <option ng-repeat="voucher in vouchers" value="{{ voucher.giaTri }}">{{ voucher.ten }}</option>
                                                    </select>
                                                    <span class="text-nowrap d-block ms-2">- {{ selectedVoucher }} vnđ</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Tổng thanh toán</th>
                                            <td class="text-end price-bill-{{ index + 1 }}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Tiền khách đưa</th>
                                            <td>
                                                <input type="text" ng-model="moneyCustomer" id="moneyCustomerInput-{{ index + 1 }}" class="form-control" ng-change="onMoneyCustomerChange(index + 1)" placeholder="Nhập tiền khách hàng" />
                                                <span>Trả lại: <b class="return-money-{{ index + 1 }}"></b></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Chuyển khoản</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Tiền mặt</label>
                                    </div>

                                    <div class="text-start mt-2">
                                        <a href="#" class="btn btn-primary btn-block w-100">Thanh toán</a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>