<div class="container-fluid px-4">
    <div class="d-grid gap-2 d-flex align-items-center justify-content-between mb-2">
        <h2 class="mt-4">Bán hàng tại quầy</h2>
        <button class="btn btn-primary me-md-2" ng-click="addBill()" >Tạo hóa đơn</button>
    </div>
    <nav>
        <div class="nav nav-tabs  mb-3" id="nav-tab" role="tablist">
            <button ng-repeat="(index, bill) in bills" class="nav-link" ng-class="{'active': index === activeBill}"
                    ng-click="setActiveBill(index)" data-bs-toggle="tab" data-bs-target="#bill{{bill.stt}}"
                    type="button"> Hóa đơn {{bill.stt}}
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" ng-repeat="(index, bill) in bills" ng-class="{'show active': index === activeBill}"
             id="bill{{bill.stt}}" role="tabpanel">
            <div class="d-grid gap-2 d-md-flex justify-content-between mb-2">
                <h5 class="me-auto">Hóa đơn {{bill.stt}}</h5>
                <button class="btn btn-primary me-md-2"  ng-click="showListProduct(bill)">Thêm sản phẩm</button>
            </div>
            <div class="row pb-3" style="font-size: 13px">
                <div class="col-9">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col" style="width: 120px;">Số lượng</th>
                            <th scope="col" class="text-end">Đơn giá (VNĐ)</th>
                            <th scope="col"class="text-end">Thành tiền (VNĐ)</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in bill.items">
                            <th scope="row">{{$index + 1}}</th>
                            <td><img ng-src="/images/{{item.image}}" alt=""></td>
                            <td>
                                {{item.tenSanPham}} <br>
                                <small class="text-muted">{{item.ghiChu}}</small>
                            </td>
                            <td><input type="number" class="form-control" ng-model="item.soLuong" min="1" max="item.soLuong"
                                       ng-init="item.soLuong = 1" ng-change="updateQuantity(bill, item)"/></td>
                            <td class="text-end">{{ formatCurrency(item.gia)}}</td>
                            <td class="text-end">{{ formatCurrency(item.soLuong * item.gia)}}</td>
                            <td>
                                <button ng-click="removeProduct(bill, item)" class="btn btn-sm btn-danger">Xóa</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header">
                            Thông tin hóa đơn
                        </div>
                        <div class="card-body p-0">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">Số điện thoại</th>
                                    <td><input type="text" ng-model="bill.phoneCustomer" class="form-control form-control-sm" maxlength="10" ng-change="onPhoneChange(bill)" id="phoneInput-{{ index + 1 }}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Tên khách hàng</th>
                                    <td><input type="text"  ng-model="bill.nameCustomer" class="form-control form-control-sm" ng-keydown="onKeyDownName(bill)" id="nameInput-{{ index + 1 }}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Tổng thanh toán</th>
                                    <td class="text-end ">{{ formatCurrency(bill.totalBill)}} VNĐ</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tiền khách đưa</th>
                                    <td>
                                        <input type="text" ng-model="bill.moneyCustomer" id="moneyCustomerInput" class="form-control" placeholder="Nhập tiền khách hàng" />
                                        <span>Trả lại:
                                                <b class="return-money">
                                                    {{ (bill.moneyCustomer > bill.totalBill) ? formatCurrency(bill.moneyCustomer - bill.totalBill) : '0 VNĐ' }}
                                                </b>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="px-2 pb-2">
                                <div class="form-check form-check-inline">
                                    <input ng-model="bill.payCustomer" ng-change="onChangePayment(bill)" checked class="form-check-input" type="radio" name="payment" id="inlineRadio2" value="money">
                                    <label class="form-check-label" for="inlineRadio2">Tiền mặt</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input ng-model="bill.payCustomer" ng-change="onChangePayment(bill)" class="form-check-input" type="radio" name="payment" id="inlineRadio1" value="bank">
                                    <label class="form-check-label" for="inlineRadio1">Chuyển khoản</label>
                                </div>
                                <div ng-if="bill.payCustomer === 'bank'" class="qr-block">
                                    <img width="150" ng-src="{{bill.payQRbank}}" alt="QR Code for Bank Transfer">
                                </div>
                                <div class="text-start mt-2">
                                    <button ng-click="payBill(bill)" ng-disabled="bill.disabled" class="btn btn-primary btn-block w-100">{{ bill.disabled ? 'Đã thanh toán' : 'Thanh toán'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal hiển thị danh sách sản phẩm -->
            <div ng-if="showPopUp" class="product-list-modal">
                <div class="dialog-bg" ng-click="closeProductList()"></div>
                <div class="product-list-modal-content">
                    <h5 class="d-flex justify-content-between">
                        <span>Chọn sản phẩm để thêm vào hóa đơn</span>
                        <button class="btn" ng-click="closeProductList()">
                            <svg width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </h5>
<!--                    <input type="text" placeholder="Tìm kiếm tên" ng-model="searchQuery" ng-change="onChangeSearch()" id="searchProduct" class="form-control mb-3">-->
                    <div class="list-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in listProduct | filter:searchFilter">
                                <td>{{$index + 1}}</td>
                                <td><img  ng-src="/images/{{product.image}}" alt=""></td>
                                <td>
                                    {{product.tenSanPham}} <br>
                                    <small class="text-muted">{{product.ghiChu}}</small>
                                </td>
                                <td>{{product.soLuong}}</td>
                                <td>{{formatCurrency(product.gia)}}</td>
                                <td>
                                    <button data-bill="" class="btn btn-sm btn-info btn-addtobill" type="button" ng-click="addProductToBill(bill, product)">
                                        Chọn
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-secondary" ng-click="closeProductList()">Đóng</button>
                    </div>
                </div>
            </div>

            <!-- Modal hóa đơn -->
            <div class="modal fade" id="paymentModal-{{bill.stt}}" tabindex="-1" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thanh toán thành công</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6 class="mb-2"><b>Thông tin hóa đơn</b></h6>
                            <div class="bill-info-head" >
                                <p><b>Ngày mua:</b> <span>{{bill.dateBill}}</span></p>
                                <p><b>Nhân viên bán hàng:</b> <span>...</span></p>
                                <p><b>Người mua:</b> <span>{{bill.nameCustomer}}</span></p>
                                <p><b>Số HĐ:</b> <span>{{bill.codeBill}}</span></p>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sản phẩm</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-end">Đơn giá (vnđ)</th>
                                    <th class="text-end">Thành tiền (vnđ)</th>
                                </tr>
                                </thead>
                                <tbody class="prod-in-bill">
                                <tr ng-repeat="item in bill.items">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>
                                        {{item.tenSanPham}} <br>
                                        <small class="text-muted">{{item.ghiChu}}</small>
                                    </td>
                                    <td>{{item.soLuong}}</td>
                                    <td class="text-end">{{ formatCurrency(item.gia)}}</td>
                                    <td class="text-end">{{ formatCurrency(item.soLuong * item.gia)}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="d-flex fw-bold justify-content-between">
                                <div class="total-quantity">Tổng số lượng: {{bill.totalQuantity}}</div>
                                <div class="total-total">Tổng thanh toán: {{formatCurrency(bill.totalBill)}} VNĐ</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button"  data-bs-dismiss="modal" ng-click="printBill(bill)" class="btn btn-info btn-done-bill">In hóa đơn</button>
                            <button type="button"  data-bs-dismiss="modal" ng-click="clearBill(bill)" class="btn btn-primary btn-done-bill">Hoàn thành</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast border-0 bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex justify-content-between align-items-center">
                <div class="toast-body">
                    Đã lưu thông tin khách hàng!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
