<div class="container-fluid px-4">
    <h2 class="mt-4">Quản lý yêu cầu trả hàng chờ</h2><br>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-table me-1"></i>
                Danh sách yêu cầu trả hàng chờ
            </div>
        </div>
        <div class="card-body">
            <input type="text" ng-model="searchText1" placeholder="Tìm kiếm..." class="form-control mb-3"/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã hóa đơn</th>
                    <th>Người yêu cầu</th>
                    <th>Lý do</th>
                    <th>Ghi chú</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pagerTH0.items | filter: searchText1">
                    <td>{{$index + 1 + (pagerTH0.page * pagerTH0.size)}}</td>
                    <td>{{item.hoaDon.ma}}</td>
                    <td>{{item.user.profile.hoVaTen}}</td>
                    <td>{{item.lyDo}}</td>
                    <td>{{item.ghiChu}}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-link" type="button" ng-click="update1(item)">
                                <i class="fas fa-check icon-check"></i>
                            </button>
                            <button class="btn btn-link" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" ng-click="edit(item)">
                                <i class="fas fa-info-circle"></i>
                            </button>
                            <button class="btn btn-link" type="button" ng-click="selectInvoice(item)">
                                <i class="fas fa-list-alt"></i>
                            </button>
                            <button class="btn btn-link" type="button" ng-click="update2(item)">
                                <i class="fas fa-times icon-close"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer d-flex justify-content-between align-items-center">
                <!-- Bộ chọn số lượng dữ liệu hiển thị -->
                <div class="me-auto">
                    <label for="pageSizeSelect" class="me-2">Hiển thị:</label>
                    <select id="pageSizeSelect" ng-model="pagerTH0.size" ng-change="pagerTH0.updateItems()"
                            class="form-select d-inline-block w-auto">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </div>

                <!-- Điều hướng trang -->
                <div class="text-center">
                    <button ng-click="pagerTH0.first()" class="btn btn-danger">
                        <i class="fas fa-angle-double-left"></i>
                    </button>
                    <button ng-click="pagerTH0.prev()" class="btn btn-primary">
                        <i class="fas fa-angle-left"></i>
                    </button>
                    <button class="btn btn-success">{{pagerTH0.page + 1}} of {{pagerTH0.count}}</button>
                    <button ng-click="pagerTH0.next()" class="btn btn-primary">
                        <i class="fas fa-angle-right"></i>
                    </button>
                    <button ng-click="pagerTH0.last()" class="btn btn-danger">
                        <i class="fas fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin yêu cầu trả hàng trong hóa đơn: {{form.hoaDon.ma}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <label>Mã hóa đơn</label>
                                <input type="text" class="form-control" ng-model="form.hoaDon.ma" readonly>
                                <label>Người yêu cầu</label>
                                <input type="text" class="form-control" ng-model="form.user.profile.hoVaTen" readonly>
                                <label>Ngày yêu cầu</label>
                                <input type="text" class="form-control" ng-model="form.ngayYeuCau" readonly>
                                <label>Lý do</label>
                                <textarea type="text" class="form-control" ng-model="form.lyDo" readonly></textarea>
                                <label>Ghi chú</label>
                                <textarea type="text" class="form-control" ng-model="form.ghiChu" readonly></textarea>
                                <label>Ngày yêu cầu</label>
                                <input type="text" class="form-control" ng-model="form.ngayYeuCau" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times"></i> Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
