<div class="container-fluid px-4">
    <h2 class="mt-4">Các sản phẩm chi tiết của sản phẩm: {{selectedProduct.ten}}</h2><br>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <i class="fas fa-table me-1"></i>
                Danh sách các sản phẩm chi tiết
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" data-bs-toggle="modal"
                 data-bs-target="#addModal">
                <button class="btn btn-primary" type="button">Thêm</button>
            </div>
        </div>
        <div class="card-body">
            <input type="text" ng-model="searchText" placeholder="Tìm kiếm..." class="form-control mb-3"/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>ID</th>
                    <th>ID Sản phẩm</th>
                    <th>Size</th>
                    <th>Màu sắc</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Ghi chú</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pager.items | filter: searchText">
                    <td>{{$index + 1 + (pager.page * pager.size)}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.idSanPham.ten}}</td>
                    <td>{{item.idSize.ten}}</td>
                    <td>{{item.idMauSac.ten}}</td>
                    <td>{{item.soLuong}}</td>
                    <td>{{item.gia}}</td>
                    <td>{{item.ghiChu}}</td>
                    <td>{{item.trangThai}}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-link" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" ng-click="edit(item)">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-link" type="button" ng-click="delete(item)">
                                <i class="fas fa-times icon-close"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer text-center">
                <button ng-click="pager.first()" class="btn btn-danger">
                    <i class="fas fa-angle-double-left"></i>
                </button>
                <button ng-click="pager.prev()" class="btn btn-primary">
                    <i class="fas fa-angle-left"></i>
                </button>
                <button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
                <button ng-click="pager.next()" class="btn btn-primary">
                    <i class="fas fa-angle-right"></i>
                </button>
                <button ng-click="pager.last()" class="btn btn-danger">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
