<div class="container-fluid px-4">
    <h2 class="mt-4">Quản lý sản phẩm</h2><br>
    <div id="productForm" class="row">
        <div class="col-md-9 mt-2 row">
            <div class="col-12">
                <label class="" for="inlineFormInputGroupUsername">Tên sản phẩm</label>
                <div class="input-group mt-1">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Áo sơ mi"
                           ng-model="form.ten">
                </div>
                <span class="text-danger" ng-show="error.ten">Vui lòng nhập tên sản phẩm và không quá 250 ký tự.</span>
            </div>
            <div class="col-12 mt-2">
                <label class="" for="inlineFormInputGroupUsername1">Giá sản phẩm</label>
                <div class="input-group mt-1">
                    <input type="number" class="form-control" id="inlineFormInputGroupUsername1" step="100000"
                           placeholder="100.000" ng-model="form.gia">
                </div>
                <span class="text-danger" ng-show="error.gia">Giá bạn nhập không nhở hơn 100.000 và không lớn quá 100.000.000.</span>
            </div>
            <div class="col-12 mt-2">
                <label class="" for="inlineFormInputGroupUsername2">Mô tả sản phẩm</label>
                <div class="input-group mt-1">
                    <textarea type="text" class="form-control" id="inlineFormInputGroupUsername2"
                              placeholder="Chất chơi người dơi người sắt người nhện" ng-model="form.moTa"></textarea>
                </div>
                <span class="text-danger"
                      ng-show="error.moTa">Vui lòng nhập mô tả sản phẩm và không quá 250 ký tự.</span>

            </div>
            <div class="row">
                <div class="col-md-4 mt-2">
                    <label for="" class="form-label">Danh mục cho</label>
                    <select ng-model="selectedIdChaDM" class="form-control" ng-change="filterDanhMuc()">
                        <option value="">Tất cả</option>
                        <option value="1">Nam</option>
                        <option value="2">Nữ</option>
                        <option value="3">Khác</option>
                    </select>
                    <span class="text-danger" ng-show="error.selectedIdCha">Vui lòng chọn giới tính.</span>
                </div>
                <div class="col-md-4 mt-2">
                    <label for="" class="form-label">Chất liệu cho</label>
                    <select ng-model="selectedIdChaCL" class="form-control" ng-change="filterChatLieu()">
                        <option value="">Tất cả</option>
                        <option value="1">Nam</option>
                        <option value="2">Nữ</option>
                        <option value="3">Khác</option>
                    </select>
                    <span class="text-danger" ng-show="error.selectedIdCha">Vui lòng chọn giới tính.</span>
                </div>

                <div class="col-md-4 mt-2">
                    <label for="" class="form-label">Thương hiệu sản phẩm</label>
                    <select ng-model="form.idThuongHieu" class="form-control">
                        <option ng-repeat="c in thuonghieu" ng-value="c.id">{{c.ten}}</option>
                    </select>
                    <span class="text-danger" ng-show="error.idThuongHieu">Vui lòng chọn thương hiệu.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-2">
                    <select ng-model="form.idDanhMuc" class="form-control">
                        <option value="" disabled>-- Chọn danh mục --</option>
                        <option ng-repeat="c in filteredDanhMuc" ng-value="c.id">{{c.ten}}</option>
                    </select>
                    <span class="text-danger" ng-show="error.idDanhMuc">Vui lòng chọn danh mục.</span>
                </div>
                <div class="col-md-4 mt-2">
                    <select ng-model="form.idChatLieu" class="form-control">
                        <option value="" disabled>-- Chọn chất liệu --</option>
                        <option ng-repeat="c in filteredChatLieu" ng-value="c.id">{{c.ten}}</option>
                    </select>
                    <span class="text-danger" ng-show="error.idChatLieu">Vui lòng chọn chất liệu.</span>
                </div>
                <div class="col-md-4 mt-2">
                    <select class="form-select" aria-label="Default select example" ng-model="form.xuatXu">
                        <option value="" selected disabled>Xuất xứ sản phẩm</option>
                        <option value="Anh">Anh</option>
                        <option value="Mĩ">Mĩ</option>
                        <option value="Trung Quốc">Trung Quốc</option>
                    </select>
                    <span class="text-danger" ng-show="error.xuatXu">Vui lòng chọn xuất xứ.</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-2">
            <div class="col-md-12 mt-2">
                <input type="file" class="form-control" id="profileImage2" accept="image/*"
                       onchange="updateImagePreview()">
                <div class="mt-2">
                    <img id="previewImage2" alt="Ảnh sản phẩm" src="/images/cloud-upload.jpg"
                         style="max-width: 100%; height: auto; object-fit: cover;"/>
                </div>
                <input type="text" class="form-control" id="imagePath2" ng-model="form.anh" readonly
                       style="display: none;">
                <span class="text-danger" ng-show="error.anh">Vui lòng chọn ảnh sản phẩm.</span>
            </div>
            <div class="col-md-12 mt-2">
                <input type="file" class="form-control" id="profileImage3" accept="image/*" multiple onchange="updateImagePreview3()">
                <div id="previewContainer" class="mt-2"></div>
                <input type="text" class="form-control" id="imagePath3" ng-model="image.anh" readonly style="display: none;">
                <span class="text-danger" ng-show="error.anh">Vui lòng chọn ảnh sản phẩm.</span>
            </div>
        </div>

        <br>
        <br>
        <div class="col-md-12 mt-3 d-flex align-items-center">
            <label class="form-label me-2">Chọn size cho</label>
            <select ng-model="selectedSizeIdCha" ng-change="filterSizesByIdCha()" class="form-control me-3"
                    style="width: 150px;">
                <option value="">Tất cả</option>
                <option value="1">Áo</option>
                <option value="2">Quần</option>
                <option value="3">Khác</option>
            </select>
            <div class="form-check d-flex flex-wrap">
                <div class="form-check d-flex me-3 mb-2" ng-repeat="size in filteredSizes">
                    <input type="checkbox" class="form-check-input" ng-model="size.selected"
                           ng-change="filterColorsAndSizes()">
                    <label class="form-check-label ms-2">{{size.ten}}</label>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3 d-flex align-items-center">
            <label class="form-label me-2">Chọn màu sắc cho</label>
            <select ng-model="selectedColorIdCha" ng-change="filterColorsByIdCha()" class="form-control me-3"
                    style="width: 150px;">
                <option value="">Tất cả</option>
                <option value="1">Áo</option>
                <option value="2">Quần</option>
                <option value="3">Khác</option>
            </select>
            <div class="form-check d-flex flex-wrap">
                <div class="form-check d-flex me-3 mb-2" ng-repeat="color in filteredColors">
                    <input type="checkbox" class="form-check-input" ng-model="color.selected"
                           ng-change="filterColorsAndSizes()">
                    <label class="form-check-label ms-2">{{color.ten}}</label>
                </div>
            </div>
        </div>

        <!-- Bảng hiển thị các tổ hợp sản phẩm chi tiết -->
        <div class="mb-3 mt-3">
            <label>Danh sách sản phẩm chi tiết</label>
            <table class="table table-bordered" id="productDetailsTable">
                <thead>
                <tr>
                    <th>Size</th>
                    <th>Màu Sắc</th>
                    <th>Số Lượng</th>
                    <th>Giá</th>
                    <th>Ghi Chú</th>
                    <th>Thao Tác</th> <!-- Thêm cột thao tác -->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="detail in productDetails">
                    <td>{{ detail.size.ten }}</td>
                    <td>{{ detail.mauSac.ten }}</td>
                    <td><input type="number" ng-model="detail.soLuong" class="form-control"></td>
                    <td><input type="number" ng-model="detail.gia" class="form-control"></td>
                    <td><input type="text" ng-model="detail.ghiChu" class="form-control"></td>
                    <td>
                        <button class="btn btn-danger" ng-click="removeProductDetail(detail)">Xóa</button>
                        <!-- Nút xóa -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Nút thêm sản phẩm -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" ng-click="addProductWithDetails()">
                <i class="fas fa-edit"></i>Thêm
            </button>
            <button class="btn btn-secondary" ng-click="reset()">
                <i class="fas fa-redo"></i>Reset
            </button>
        </div>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>
